@page "/dashboard"
@using System.Globalization
@attribute [Authorize]

<MudText Typo="Typo.h3" GutterBottom="true">@Loc["Dashboard"]</MudText>
<MudText Class="mb-8">@Loc["DashboardWelcome"]</MudText>
<MudAlert Severity="Severity.Normal" Class="mud-width-full" Style="text-align: right;">
    <div dir="@(CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "rtl" : "ltr")">
        @Loc["LoggedInAlert"]
    </div>
</MudAlert>
